*{
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    color: white;
    h1 {
        font-family: "Roboto", sans-serif;
        font-weight: 900;
        font-style: normal;
    }
    h2 {
        font-family: "Roboto", sans-serif;
        font-weight: 800;
        font-style: normal;
    }
    h3 {
        font-family: "Roboto", sans-serif;
        font-weight: 700;
        font-style: normal;
    }
}


html {
    scroll-padding-top: 50px;
}

:root {
    --background: #2A2359;
    --primary: #48358C;
    --secondary: #F2E41D;
}

#home, #about, #contact {
    height: 100vh;
    min-height: fit-content;
    padding: 20px;
    box-sizing: border-box;
}

#projects {
    padding: 20px;
    height: fit-content;
}

#home, #projects {
    background-color: var(--background);
}

#about, #contact {
    background-color: var(--primary);
}

#home {
    overflow: hidden;
    position: relative;
}

.home-wrapper, .aboutme-card {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.home-container, .aboutme-info {
    width: 50%;
    padding: 50px;
    h1 {
        font-size: 6rem;
    }
    h2 {
        font-size: 3rem;
        margin-left: 50px;
    }
    img {
        width: 100%;
    }
}

.about-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-img img {
    height: 70%;
    width: auto;
    border-radius: 20%;
    opacity: 0.9;
}

header {
    position: fixed;
    display: flex;
    background-color: var(--background);
    padding: 5px 30px;
    width: 100%;
    height: 40px;
    z-index: 99;
    a {
        color: white;
        text-decoration: none;
    }
}

.navbar {
    margin: 10px 30px;
    width: fit-content;
    display: flex;
    flex-grow: 1;
    justify-content: right;
}

.navbar a {
    margin-right: 30px;
}

/* About me section CSS */
#about, #home {
    display: flex;
    align-items: center;
    justify-content: center;
}

#home {
    flex-direction: column;
}

#about {
    z-index: 10;
}

.bubble {
    position: absolute;
    width: 200px;
    height: 200px;
    top: 100%;
    border-radius: 50%;
    box-shadow: inset 0 0 25px rgba(255, 255, 255, 0.25);
    z-index: 3;
    animation: move 8s ease-in-out infinite;
}

.bubble::before {
    content: '';
    position: absolute;
    top: 50px;
    left: 45px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #FFF;
    z-index: 4;
    filter: blur(2px)
}

.bubble::after {
    content: '';
    position: absolute;
    top: 80px;
    left: 80px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #FFF;
    z-index: 4;
    filter: blur(2px)
}

.bubble span {
    position: absolute;
    border-radius: 50%;
}

.bubble span:nth-child(1) {
    inset: 10px;
    border-left: 15px solid #0fb4ff;
    filter: blur(8px)
}
.bubble span:nth-child(2) {
    inset: 10px;
    border-right: 15px solid #ff4484;
    filter: blur(8px)
}
.bubble span:nth-child(3) {
    inset: 20px;
    border-top: 15px solid #ffeb3b;
    filter: blur(8px)
}
.bubble span:nth-child(4) {
    inset: 30px;
    border-left: 15px solid #ff4484;
    filter: blur(12px)
}
.bubble span:nth-child(5) {
    inset: 10px;
    border-bottom: 10px solid #fff;
    filter: blur(8px);
    transform: rotate(330deg);
}

@keyframes move {
    0%{
        top: 100%;
    }
    100% {
        top: -200px;
    }
}

@keyframes burst {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    100% {
        transform: scale(1.5);
        opacity: 0;
    }
}
.burst {
    animation: burst 0.3s forwards;
}

.aboutme-card {
    display: flex;
    padding: 50px;
    width: 70%;
    height: 70%;
    background-color: var(--background);
    border-radius: 50px;
}

/* Project section CSS */

.card-container  {
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
    justify-items: center;
}

.card {
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: 100%;
    background-color: var(--primary);
    align-items: center;
    text-align: center;
    border-radius: 20px;

}

.screenshot-container {
    margin: 20px;
    width: 90%;
    height: 400px;
    background-color: #2A2359;
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    border-radius: 5px;
}
#gamehub {
    background-image: url(/images/GameHub/incandescent-lamington-2d6891.netlify.app_allgames.png);
}

#cms {
    background-image: url(/images/CSM/dulcet-bavarois-79dbb9.netlify.app_.png);
}

#tenacioustraveler {
    background-image: url(/images/TenaciousTraveler/tenacioustraveler.netlify.app_.png);

}

.screenshot-container:hover {
    animation: scrolldown 2s ease-in-out forwards;
}

@keyframes scrolldown {
    0% {
        background-position: top;
    }

    100% {
        background-position: bottom;
    }
}


/* Contact section CSS */

#contact {
    padding-top: 100px;
    display: flex;
    justify-content: center;
}

.contact-form {
    width: 30%;
    display: flex;
    flex-direction: column;
}

.error-msg {
    display: none;
}